<%= form_for(@linee_translation) do |f| %>
  <% if @linee_translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linee_translation.errors.count, "error") %> prohibited this linee_translation from being saved:</h2>

      <ul>
      <% @linee_translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :belongs_to %><br>
    <%= f.text_field :belongs_to %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :content_explanation %><br>
    <%= f.text_area :content_explanation %>
  </div>
  <div class="field">
    <%= f.label :grammar_explanation %><br>
    <%= f.text_area :grammar_explanation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
