<p id="notice"><%= notice %></p>

<p>
  <strong>Recording url:</strong>
  <%= @piece.recording_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @piece.video_url %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @piece.translation %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @piece.chapter %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @piece.uuid %>
</p>

<p>
  <strong>Position:</strong>
  <%= @piece.position %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
