<style>
	li > li {
		margin-left: 20px;
		list-style-type: circle;
	}

	li > li > li {
		margin-left: 20px;
	}

	li {
		margin: 6px;
	}

	.after-prophet {
		padding: 0 10px;
		color: #fff;
		border-radius: 10px;
		background-color: red;
	}

	.ap {
		color: #ff9090;
	}

	.ce {
		color: #80bdff;
	}

	.title {
		color: #3c2d2d;
		font-size: 20px;
	}
	
	.cult > a {
		display: block;
	}

	.cult:hover > a {
		color: #0056B3 !important;
		text-decoration: none;
		/*border-left: 4px solid #000;*/
		/*padding-left: 6px;*/
		cursor: pointer;
	}

	.deets-container {
		display: none;
	}

	/**/
	.cult-deets {
		margin: 20px 0;
	    display: none;
	    background: #100101;
	    border-radius: 10px;
	    color: #fff;
	    border-left: 2px solid #ccc;
	    display: flex;
	}

	.dtls {
		flex: 1 1 25%;
		border-left: 2px solid #FEEDD9;
		padding: 20px;
	}

	/**/
	.deets-container .title {
		color: #fff;
	}

	.deets-container h3 {
		border-bottom: 4px solid #a21717;
    	padding: 10px;
	}

	.deets-container .triggers {
		background: #670c0c;
	}

	.deets-container .triggers-title {
		background: #d01c1c;
	}

	.key {
		position: relative;
	}
	
	.fa-expand {
		margin-left: 10px;
	}

	/**/
	.adder {
		display: flex;
	}

	.adder input {
		flex: 1 1 80%;
	}

	.adder .fa {
		flex: 1 1 20%;
	}

	/**/
	.dtls li {
		position: relative;
	}
	.dtls li .remove-li {
		left: -34px;
    	top: 6px;
    	position: absolute;
	}

	<% if !admin_signed_in? %>
		.remove-li {
			display: none;
		}
	<% end %>

</style>

<h2 class="text-center">
	The approval of any cult is the approval of "<u>cults</u>" in general.
</h2>

<div class="key">
<hr>


<div class="btn btn-danger ap-guide">A.P. = Years After the Prophet</div>

<hr>
</div>

<ul>
	<% Cult.all.order("release_date ASC").each do |c| %>
		<li class="cult" data-id="<%= c.id %>" data-belongs="<%= c.cult_id %>">
			<span class="expand-cult">
			
				<span class="title">
					<%= c.title %> 
				</span>
					<% if c.release_date.present? %> 
						~ <%= c.release_date %> 
							<span class="ce">C.E.</span> 
							<span class="after-prophet">
								<%= c.release_date - 632 %> 
								<span class="ap">A.P.</span>
							</span>
							<i class="fa fa-expand"></i>
					<% end %>
			</span>
			
			<section class="deets-container">
				<div class="cult-deets">
					<div class="dtls" key="figures">
						<h3><i class="fa fa-user"></i> Prophets:</h3>
						<ul>
							<% c.figures.try(:each) do |t| %>
						      <li>
						      	<div class="fa fa-times remove-li"></div>
						        <span class="title"><%= t["title"] %></span>
						        <!--  -->
						        <div class="body"><%= t["body"] %></div>
						      </li>
						    <% end %>
						</ul>

						<% if admin_signed_in? %>
							<hr>
							<div class="adder">
								<input type="text" class="form-control">
								<div class="btn btn-info fa fa-plus"></div>
							</div>
						<% end %>
					</div>

					<div class="dtls" key="scriptures">
						<h3><i class="fa fa-book"></i> Scriptures:</h3>
						<ul>
							<% c.scriptures.try(:each) do |t| %>
						      <li>
								<div class="fa fa-times remove-li"></div>
						        <span class="title"><%= t["title"] %></span>
						        <!--  -->
						        <div class="body"><%= t["body"] %></div>
						      </li>
						    <% end %>
						</ul>

						<% if admin_signed_in? %>
							<hr>
							<div class="adder">
								<input type="text" class="form-control">
								<div class="btn btn-info fa fa-plus"></div>
							</div>
						<% end %>
					</div>
					<div class="dtls" key="jargon">
						<h3><i class="fa fa-university"></i> Jargon:</h3>
						<ul>
							
						</ul>
						
						<% if admin_signed_in? %>
							<hr>
							<div class="adder">
								<input type="text" class="form-control">
								<div class="btn btn-info fa fa-plus"></div>
							</div>
						<% end %>

					</div>
					<div class="dtls triggers" key="triggers">
						<h3 class="triggers-title"><i class="fa fa-warning"></i>  Triggers:</h3>
						<ul>
							<% c.triggers.try(:each) do |t| %>
						      <li>
								<div class="fa fa-times remove-li"></div>
						        <span class="title"><%= t["title"] %></span>
						        <!--  -->
						        <div class="body"><%= t["body"] %></div>
						      </li>
						    <% end %>
						</ul>

						<% if admin_signed_in? %>
							<hr>
							<div class="adder">
								<input type="text" class="form-control">
								<div class="btn btn-info fa fa-plus"></div>
							</div>
						<% end %>
					</div>
				</div>
			</section>
			
		</li>
	<% end %>
</ul>

<br>

<script>
	$(".cult").each(function(){
		belongs = $(this).attr("data-belongs")
		$(".cult[data-id='"+belongs+"']").append($(this))
	})

	// 
	$("body").on("click", ".expand-cult", function(){
		li = $(this).closest(".cult")
		li.find('> .deets-container').toggle()
	})

	<% if admin_signed_in? %>

	// 
	$("body").on("click", ".adder .fa-plus", function(){
		
		id = $(this).closest(".cult").attr("data-id")
		
		dtls = $(this).closest(".dtls")
		
		key = dtls.attr("key")

		ul = dtls.find("ul")
		val = dtls.find("input").val()
		console.log(val)
		

		array = []
		ul.find("li").each(function(){
			array.push({
				title: $(this).find(".title").html(),
				body: $(this).find(".body").html(),
			})
		})

		array.push({
			title: val,
			body: ""
		})
		
		hash = {}
		hash[key] = array
		hash["_method"] = "post"


		$.ajax({
		    type: "PUT",
		    dataType: "json",
		    url: '/cults/'+id,
		    contentType: 'application/json',
		    data: JSON.stringify(hash),
		    success: function(res){
		      console.log(res)
		        ul.append(`<li>
		        	<div class="fa fa-times remove-li"></div>
			        <span class="title">
			          `+val+`
			        </span>
			        <div class="body">
			        </div>
			      </li>`)
				dtls.find("input").val("")
		    }
		})

	})

	// 
	$("body").on("click", ".remove-li", function(){
		id = $(this).closest(".cult").attr("data-id")
		dtls = $(this).closest(".dtls")
		key = dtls.attr("key")
		ul = dtls.find("ul")

		$(this).closest("li").remove()

		array = []
		ul.find("li").each(function(){
			array.push({
				title: $(this).find(".title").html(),
				body: $(this).find(".body").html(),
			})
		})
		
		hash = {}
		hash[key] = array
		hash["_method"] = "post"


		$.ajax({
		    type: "PUT",
		    dataType: "json",
		    url: '/cults/'+id,
		    contentType: 'application/json',
		    data: JSON.stringify(hash),
		    success: function(res){
		      console.log(res)
		    }
		})

	})

	<% end %>



</script>