<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fiqh_principle.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fiqh_principle.description %>
</p>

<%= link_to 'Edit', edit_fiqh_principle_path(@fiqh_principle) %> |
<%= link_to 'Back', fiqh_principles_path %>
