<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @linee.belongs_to %>
</p>

<p>
  <strong>Font style:</strong>
  <%= @linee.font_style %>
</p>

<p>
  <strong>Content:</strong>
  <%= @linee.content %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @linee.direction %>
</p>

<p>
  <strong>Position:</strong>
  <%= @linee.position %>
</p>

<p>
  <strong>Recording url:</strong>
  <%= @linee.recording_url %>
</p>

<%= link_to 'Edit', edit_linee_path(@linee) %> |
<%= link_to 'Back', linees_path %>
