<p id="notice"><%= notice %></p>

<h1>Listing Fiqh Case Principles</h1>

<table>
  <thead>
    <tr>
      <th>Passing</th>
      <th>Fiqh principle</th>
      <th>Fiqh case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fiqh_case_principles.each do |fiqh_case_principle| %>
      <tr>
        <td><%= fiqh_case_principle.passing %></td>
        <td><%= fiqh_case_principle.fiqh_principle %></td>
        <td><%= fiqh_case_principle.fiqh_case %></td>
        <td><%= link_to 'Show', fiqh_case_principle %></td>
        <td><%= link_to 'Edit', edit_fiqh_case_principle_path(fiqh_case_principle) %></td>
        <td><%= link_to 'Destroy', fiqh_case_principle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fiqh case principle', new_fiqh_case_principle_path %>
